*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
gradlew
gradlew.bat
gradle/
app/src/test/
app/src/androidTest/
/.idea/
/app/build.gradle
